@font-face {
    src: url('Flappy-Bird.ttf');
}

.title{
    -fx-font-family: "Flappy Bird Regular";
    -fx-font-size: 64px;
}

.points {
    -fx-font-family: "Flappy Bird Regular";
    -fx-font-size: 100px;
}

.lost{
    -fx-font-family: "Flappy Bird Regular";
}